@layouts.main()
  <div class="container exercise-page">
    <h1>
      Vous avez choisi le deck {{ deck.title }}
    </h1>
    <p class="exercise-intro">
      Exercer en mode basique
    </p>
    <form action="{{ route('exercises.setup', { id: deck.id }) }}" method="POST">
      {{ csrfField() }}
      <button type="submit" class="btn btn-primary">C'est parti</button>
    </form>
  </div>
@end
