<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      {{ title || "Flashcards" }}
    </title>
    @vite(['resources/css/app.css', 'resources/js/app.js'])
  </head>
  <body>
    @!header()

    @!flash()

    <main class="container">
      {{{ await $slots.main() }}}
    </main>

    @!footer()
  </body>
</html>
