@if(auth.isAuthenticated)
  <h1>
    Bienvenue {{ auth.user.username }} !
  </h1>
  <form action="/logout" method="POST">
    {{ csrfField() }}
    <button type="submit">Se déconnecter</button>
  </form>
@else
  <h1>
    Tu n'es pas connecté.
  </h1>
  <a href="/login">Se connecter</a>
@endif
